@font-face {
  font-family: "ChenYuluoyan";
  src: url("/public/fonts/ChenYuluoyan.ttf") format("truetype");
}

body {
  font-family:  Arial, sans-serif;
  background: linear-gradient(135deg, #4A3124, #4A3124);
  margin: 0;
  padding: 0;
}

.schedule-app {
  max-width: 800px;
  margin: 50px auto;
  background: #889399;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  font-size: 42px;
  color: #4A3124;
}

h2 {
  font-size: 25px;
  margin-top: 20px;
  color: #D1CDBA;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 25px;
  padding: 16px;
  margin: 8px 0;
  background: #D1CDBA;
  border: 1px solid #ddd;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

li:hover {
  background-color: #8E7861;
  transform: scale(1.03);
}

/* 右上角圖片 */
.top-right-image {
  position: absolute;
  top: 170px;
  right: 10px;
  width: 100px; /* 調整圖片寬度 */
  height: 100px; /* 調整圖片高度 */
  /*border-radius: 50%; /* 圓形圖片 */
  /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
}

/*.time-image {
  position: absolute;
  top: 170px;
  right: 10px;
  width: 100px;
  height: 100px;
}


.teacher-image {
  position: absolute;
  top: 170px;
  right: 10px;
  width: 100px;
  height: 100px;

}

.student-image {
  position: absolute;
  top: 170px;
  right: 10px;
  width: 100px;
  height: 100px;
}*/

/* 高亮顯示選中項目 */
.selected {
  background-color: #8E7861; /* 柔和粉色背景 */
  border: 2px solid #8E7861; /* 粉紅邊框 */
  font-weight: bold;
  color: #4A3124;
  border-radius: 12px;
  transform: scale(1.02);
  transition: all 0.3s ease;
}

.student-list input[type="checkbox"] {
  width: 15px;
  height: 15px;
  transform: scale(1.5); /* 放大 */
  margin-right: 10px;
}

